name: Build Jar & Upload Artifact
on:
  workflow_dispatch:  # 支持手动触发
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 16
        uses: actions/setup-java@v4
        with:
          java-version: '16'
          distribution: 'temurin'
          cache: gradle

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Jar & MD5
        uses: actions/upload-artifact@v4
        with:
          name: spider-jar-with-md5
          path: |
            build/libs/spider.jar
            build/libs/spider.jar.md5
          retention-days: 30
          if-no-files-found: error
